@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html, body, #__next {
    height: 100%;
    width: 100%;
  }

  /* Custom Scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #E3E1DA; /* line color */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6B6E77; /* slate color */
  }
}